.card{
    background-color: grey;
    opacity: 1px;

    margin: 0 auto; /* Added */
      float: none; /* Added */
      margin-bottom: 10px; 
      
      align-items: center;
    
}
.container{
    align-items: center;
}
.btn
{
    align-items: center;
}
@media (min-width: 300px) { 
   .card{
       width:100%;
   }
 }