

.btn
{
    align-items: center;
}
@media (min-width: 300px) { 
   .card{
       width:100%;
   }
 }
 .card{
    opacity: 0.5px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    color: white;
    float: none; 
    margin-bottom: 10px; 
}
body{
    height: auto;
}
p{
    color: white;
}