<!-- <div class="header">
    <div class="text-center">

      <h2 text-align="center">WELCOME TO E-MART</h2>
      </div>

  <ul>
      <li><a [routerLink]="['/home']">Home</a></li>
      <li><a [routerLink]="['/login']">Buyer</a></li>
      <li><a [routerLink]="['/login']">Seller</a></li>
      <li style="float:right"><a class="active" [routerLink]="['/login']">Login</a></li>
    </ul>
  </div> -->
<form [formGroup]="LoginForm" >
  <div class="container">
    <div class="form group col-4">
      <label>Id</label>
         <input type="text" formControlName="id" class="form-control" size="4" />
           <label>Password </label>
              <input type="password" formControlName="password" class="form-control" size="4"  />
            
                <br>
                  <button class="btn btn-primary mr-1">Login</button><br><br>
                

    </div>
  </div>
               
</form>



        