<br>
<br>
<br>
<br>
<br>

<!-- <div class="col-sm-4">
<div class="card">
    <form [formGroup]="LoginForm">
  
      <div class="form-group col md-3">
      <label>Id</label>
      <input type="text" formControlName="id" class="form-control" />
      </div>
      <div class="form-group col md-4">
      <label>Password </label>
      <input type="password" formControlName="password" class="form-control"/>
      </div>
      <br>
      <div class="text-center">
      <button class="btn btn-primary mr-1">Login</button><br><br>
      
      </div>
    </form>
    </div>

</div> -->

<div class="card" style="width: 25rem;">
<form class="text-center border border-light p-5" [formGroup]="sellerform" (ngSubmit)="onsubmit()">

  <p class="h4 mb-4">Sign in</p>

  <!-- Email -->
  <input type="text"  class="form-control mb-4" placeholder="Username">

  <!-- Password -->
  <input type="text"  class="form-control mb-4" placeholder="Password">
  <button class=" btn btn-primary" type="submit">Sign in</button>
  <br>
 <p> New User?  Register!</p>
 <!-- <a [routerLink]="['/home/registerbuyer']" >RegisterBuyer</a>  -->
</form>   
</div>    