
<br>
    <div class="card" style="width:25rem;">
        
            <form class=" border border-light p-5" [formGroup]="sellerform" (ngSubmit)="onsubmit()">

                       Id <input type="text" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': submit && f.id.errors }" />
                        <div *ngIf="submit && f.id.errors" class="invalid-feedback">
                            <div *ngIf="f.id.errors.required">Id is required</div>
                            
                        </div>
                
                    
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submit && f.username.errors }" />
                        <div *ngIf="submit && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Name is required</div>
                            <div *ngIf="f.username.errors.pattern">Enter only alphabets</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Company Name</label>
                        <input type="text" formControlName="companyname" class="form-control" [ngClass]="{ 'is-invalid': submit && f.companyname.errors }" />
                        <div *ngIf="submit && f.companyname.errors" class="invalid-feedback">
                            <div *ngIf="f.companyname.errors.required">Company Name is required</div>
                            <div *ngIf="f.companyname.errors.pattern">Enter only alphabets</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Brief about company</label>
                        <input type="text" formControlName="briefaboutcompany" class="form-control" [ngClass]="{ 'is-invalid': submit && f.briefaboutcompany.errors }" />
                        <div *ngIf="submit && f.briefaboutcompany.errors" class="invalid-feedback">
                            <div *ngIf="f.briefaboutcompany.errors.required">Details required</div>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label>GSTIN</label>
                        <input type="text" formControlName="GSTIN" class="form-control" [ngClass]="{ 'is-invalid': submit && f.GSTIN.errors }" />
                        <div *ngIf="submit && f.GSTIN.errors" class="invalid-feedback">
                            <div *ngIf="f.GSTIN.errors.required">Gstin is required</div>
                            <!-- <div *ngIf="f.id.errors.pattern">Enter only E as 1st char</div> -->
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" formControlName="postaladdress" class="form-control" [ngClass]="{ 'is-invalid': submit && f.postaladdress.errors }" />
                        <div *ngIf="submit && f.postaladdress.errors" class="invalid-feedback">
                            <div *ngIf="f.postaladdress.errors.required">Address is required</div>
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Website</label>
                        <input type="text" formControlName="website" value="www." class="form-control" [ngClass]="{ 'is-invalid': submit && f.website.errors }" />
                        <div *ngIf="submit && f.website.errors" class="invalid-feedback">
                            <div *ngIf="f.website.errors.required">Website is required</div>
                            
                        </div>
                    </div>
                <div class="form-group">
                    <label>Mobile</label>
                    <input type="text"  value="+91" readonly size="1"/>
                    <input type="text" formControlName="contactnumber" class="form-control" [ngClass]="{ 'is-invalid': submit && f.contactnumber.errors }" />
                    <div *ngIf="submit && f.contactnumber.errors" class="invalid-feedback">
                        <div *ngIf="f.contactnumber.errors.required">Mobile no is required</div>
                        <div *ngIf="f.contactnumber.errors.pattern">Mobile no Must be Valid</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="emailid" class="form-control" [ngClass]="{ 'is-invalid': submit && f.emailid.errors }" />
                    <div *ngIf="submit && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.emailid.errors.required">Email is required</div>
                        <div *ngIf="f.emailid.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submit && f.password.errors }" />
                        <div *ngIf="submit && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            
                        </div>
                    </div>
                   
                    <div class="text-center">
                      <button class="btn btn-primary mr-1">Submit</button>
                    
                    </div>
            </form>
    </div>
    
