
    <div class="card" style="width: 25rem;">
        <form class=" border border-light p-5" [formGroup]="addsubcategoryform" (ngSubmit)="onSubmit()">
            
                    <label>SubCategory ID</label>
                    <input type="text" formControlName="subcategoryid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subcategoryid.errors }">
                       <div *ngIf="submitted && f.subcategoryid.errors" class="invalid-feedback">
                        <div *ngIf="f.subcategoryid.errors.required">ID is required</div>
                    </div>
    
            
                    <label>SubCategory Name</label>
                    <input type="text" formControlName="subcategoryname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subcategoryname.errors }" />
                    <div *ngIf="submitted && f.subcategoryname.errors" class="invalid-feedback">
                        <div *ngIf="f.subcategoryname.errors.required">Name is required</div>
                        
                    </div>
            
        
                <label>Category ID</label>
                <input type="text" formControlName="categoryid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.categoryid.errors }">
                   <div *ngIf="submitted && f.categoryid.errors" class="invalid-feedback">
                    <div *ngIf="f.categoryid.errors.required">ID is required</div>
                </div>
    
           
            <label style="font-size:25px">GST</label>
            <input type="text" formControlName="GST" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.GST.errors }">
               <div *ngIf="submitted && f.GST.errors" class="invalid-feedback">
                <div *ngIf="f.GST.errors.required">ID is required</div>
            </div>

            
                    <label>Brief Details</label>
                    <input type="text" formControlName="briefdetails" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.briefdetails.errors }" />
                    <div *ngIf="submitted && f.briefdetails.errors" class="invalid-feedback">
                        <div *ngIf="f.briefdetails.errors.required">Brief Details is required</div>
                    </div>

            
          
            <div class="text-center">
                <button class="btn btn-primary mr-1">Submit</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
          </div>
        </form>
    </div>
