#b{
    background-image: url("src/assets/images/img2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1200px;
  }
  .dropdown-menu
  {
  background-color: black;
  
  }
  .navbar a{
  color: white;
  }
  a:hover {
  
  background: transparent;
  
  }
  .navbar a.active {
  background-color: lightcoral;
  } 
  .table
  {
    
    background-color: rgba(0, 0,0, 0.5);
  }
  #log
{
  cursor: pointer;
}

  
  
  