<table class="table table-bordered" style="background-color:white;text-align:center;">
    <tr>
        <th>Transaction Id</th>
        <th>Buyer Id</th>
        <th>Seller Id</th>
        <th>Item Id</th>
        
        <th>Transaction type</th>
        <th>No Of Items</th>
        
     </tr>
    <tr *ngFor="let item of list">
        <td>{{item.id}}</td>
        <td>{{item.buyerId}}</td>
        <td>{{item.sellerId}}</td>
        <td>{{item.itemId}}</td>
       <td>{{item.transactionType}}</td>
       <td>{{item.numberOfItems}}</td>
    </tr>
      
       
</table>
