
<div class="card" style="width: 25rem;"> 

    <form class=" border border-light p-5" [formGroup]="additemsform" (ngSubmit)="onSubmit()">
        
                <label>Item Name</label>
                <input type="text" formControlName="itemname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemname.errors }" />
                <div *ngIf="submitted && f.itemname.errors" class="invalid-feedback">
                    <div *ngIf="f.itemname.errors.required">Name is required</div>
                    
                </div>
         
    
                <label>Price</label>
                <input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                    <div *ngIf="f.price.errors.required">Brief Details is required</div>
                </div>
                <label>Description</label>
                <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
                   <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required">ID is required</div>
                </div>
       

                <label>Stock Number</label>
                <input type="number" formControlName="stocknumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.stocknumber.errors }" />
                <div *ngIf="submitted && f.stocknumber.errors" class="invalid-feedback">
                    <div *ngIf="f.stocknumber.errors.required">Name is required</div>
                    
                </div>
         
    
                <label>Remarks</label>
                <input type="text" formControlName="remarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }" />
                <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
                    <div *ngIf="f.remarks.errors.required">Brief Details is required</div>
                </div>
                <label> Choose Category</label>
                <select formControlName="categoryid" class="form-control" (change)="GetSubCategory()">
                    <option *ngFor="let item of clist" value="{{item.categoryId}}">{{item.categoryName}}</option>   
               </select>
                <div class="form-group">
                    <label>Choose SubCategory</label>

                    
                    <select formControlName="subcategoryid" class="form-control">
                        <option *ngFor="let item1 of sblist" value="{{item1.subcategoryId}}">{{item1.subcategoryName}}</option>   
                   </select>
                </div>
         
    
                <br>
        
        <div class="text-center">
            <button class="btn btn-primary mr-1">Submit</button>
            <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
      </div>
    </form>
</div>   