
    <br>
    <br>
    <div class="card" style="width: 25rem;">

        <form class="border border-light p-5" [formGroup]="viewprofileForm" (ngSubmit)="Update()"> 
                <div class="form-group">
                    <label>User Name</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submit && f.username.errors }"/>
                    <div *ngIf="submit && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Name is required</div>
                        <div *ngIf="f.username.errors.pattern">Enter only alphabets</div>
                    </div>
                </div>
            <div class="form-group">
                <label>Mobile</label>
                <input type="text" value="+91" readonly size="1"/>
                <input type="text" formControlName="mobilenumber" class="form-control" [ngClass]="{ 'is-invalid': submit && f.mobilenumber.errors }" />
                <div *ngIf="submit && f.mobilenumber.errors" class="invalid-feedback">
                    <div *ngIf="f.mobilenumber.errors.required">Mobile no is required</div>
                    <div *ngIf="f.mobilenumber.errors.pattern">Mobile no Must be Valid</div>
                </div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" formControlName="emailid" class="form-control" [ngClass]="{ 'is-invalid': submit && f.emailid.errors }" />
                <div *ngIf="submit && f.emailid.errors" class="invalid-feedback">
                    <div *ngIf="f.emailid.errors.required">Email is required</div>
                    <div *ngIf="f.emailid.errors.email">Email must be a valid email address</div>
                </div>
            </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submit && f.password.errors }" />
                    <div *ngIf="submit && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        
                    </div>
                </div>
                <div class="form-group">
                    <label>Created Date</label>
                    <input type="date" formControlName="createddatetime" class="form-control" [ngClass]="{ 'is-invalid': submit && f.createddatetime.errors }" />
                    <div *ngIf="submit && f.createddatetime.errors" class="invalid-feedback">
                        <div *ngIf="f.createddatetime.errors.required">Date is required</div>
                    </div>
                </div>
               
                <div class="text-center">
                  <button class="btn btn-primary mr-1">Submit</button>
                
                </div>
        </form>
    
    </div>


